
  <div class="row navbar_top">
    <a class="col-sm layout_navbar" routerLink="/view/home">ข้อมูลอาหาร</a>
    <a class="col-sm layout_navbar" routerLink="/view/exercise">ข้อมูลการออกกำลังกาย</a>
    <a class="col-sm layout_navbar" routerLink="/view/add_food">เพิ่มรายกายอาหาร</a>
    <a class="col-sm layout_navbar" routerLink="/view/add_exercise">เพิ่มการออกกำลังกาย</a>
    <a class="col-sm layout_navbar" routerLink="/view/comment_food">คำร้องขออาหาร</a>
    <a class="col-sm layout_navbar" routerLink="/view/comment_exercise">คำร้องขอการออกกำลังกาย</a>
    <a class="col-sm layout_navbar" routerLink="/view/category_food">จัดการหมวดหมู่อาหาร</a>
    <a class="col-sm layout_navbar" routerLink="/view/unit_food">จัดการหน่วยอาหาร</a>
    <!-- <div class="col-1"></div> -->
    <a class="col-1 layout_navbar " href="">
      <img src="../../../assets/image_icon/logout.png" alt="">
    </a>
  </div>
