
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(26, 218, 97);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .active {
    border-radius: 4px;
    background-color: #00c261;
  }

  .layout_navbar {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 8px;
    text-decoration: none;
    font-size: 18px;
  }

  .layout_navbar:hover {
    border-radius: 4px;
    background-color: rgb(145, 0, 193);
  }

  .layout_navbar:focus {
    border-radius: 4px;
    background-color: rgb(135, 0, 203);
  }

  .navbar_top {
    box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(146, 0, 208);
  }

  .icon_logout {
    justify-content: end;
    width: 21px;
    height: 21px;
    padding: 0px;
    margin: 0px;
    background: url('../../../assets/image_icon/logout.png');
  }

  .shadow_border {
  }