<form class="layout_input">
    <div class="row layout_inside">
      <div class="form-group col-sm">
        <label for="exampleFormControlInput1">ชื่อออกกำลังกาย</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="ชื่ออาหาร">
      </div>
      <div class="form-group col-sm">
        <label for="exampleFormControlInput1">แคลอรี่ที่เผาผลาญ/นาที</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="แคลอรี่">
      </div>
    </div>
    <div class="row layout_inside">
      <div class="form-group col-sm">
        <label for="exampleFormControlTextarea1">ลิ้งค์รูป</label>
        <textarea class="form-control w_text_area" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>
    <div class="btn_layout d-flex justify-content-center">
      <button type="submit" class="btn">Submit</button>
    </div>
  </form>
  