<form class="layout_input">
  <div class="row layout_inside">
    <div class="form-group col-sm">
      <label for="exampleFormControlInput1">ชื่ออาหาร</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="ชื่ออาหาร">
    </div>
    <div class="form-group col-sm">
      <label for="exampleFormControlInput1">พลังงาน</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="แคลอรี่">
    </div>
    <div class="form-group col-sm">
      <label for="exampleFormControlSelect1">หมวดหมู่</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>อาหารคาว</option>
        <option>เครื่องดื่ม</option>
        <option>ผลไม้</option>
        <option>ขนม</option>
        <option>อื่นๆ</option>
      </select>
    </div>
    <div class="form-group col-sm">
      <label for="exampleFormControlSelect1">หน่วยอาหาร</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>จาน</option>
        <option>ถ้วย</option>
        <option>ลูก</option>
        <option>แก้ว</option>
        <option>อื่นๆ</option>
      </select>
    </div>
  </div>
  <div class="row layout_inside">
    <div class="form-group col-sm">
      <label for="exampleFormControlInput1">โปรตีน</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="กรัม">
    </div>
    <div class="form-group col-sm">
      <label for="exampleFormControlInput1">คาร์โบไฮเดรต</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="กรัม">
    </div>
    <div class="form-group col-sm">
      <label for="exampleFormControlInput1">ไขมัน</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="กรัม">
    </div>
    <div class="form-group col-sm">
      <label for="exampleFormControlInput1">วิตามิน เอ</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="กรัม">
    </div>
    <div class="form-group col-sm">
      <label for="exampleFormControlInput1">วิตามิน บี</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="กรัม">
    </div>
    <div class="form-group col-sm">
      <label for="exampleFormControlInput1">วิตามิน ซี</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="กรัม">
    </div>
    <div class="form-group col-sm">
      <label for="exampleFormControlInput1">วิตามิน อี</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="กรัม">
    </div>
  </div>
  <div class="row layout_inside">
    <div class="form-group col-sm">
      <label for="exampleFormControlTextarea1">ลิ้งค์รูป</label>
      <textarea class="form-control w_text_area" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
  </div>
  <div class="btn_layout d-flex justify-content-center">
    <button type="submit" class="btn">Submit</button>
  </div>
</form>
