.header_font {
        display: flex;
        justify-content: center;
        color: rgb(131, 0, 188);
}

.input_border {
    border: 1px solid rgb(175, 113, 197);
    border-radius: 6px;
}

.font_tag {
    size: 14px;
    color: black;
}

.layout_btn {
    display: flex;
    justify-content: center;
}