<div class="header_font">
    <h1>Login Admin</h1>
</div>
<div class="form-control">
    <div class="form-control label">
        <div class="form-control input">
            <p>name</p>
            <input class="input_border" type="text">
            <p>password</p>
            <input class="input_border" type="password" name="admin" id="0">
        </div>
    </div>
</div>
<div class="layout_btn">
    <a href="https://dietdiary2-6ace2.web.app/add-food">
        <button class="btn" type="submit">log in</button>
    </a> 
</div>
